.app-header{
    position: sticky;
    background-color: var(--header-bgc);
    color: var(--header-c);
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-logo{
    cursor: pointer;    
}

.app-header>*{
    padding: 1rem;
}

.navigation-bar>*{
    margin-right: 0.5rem;
}

