.edit-form{
    flex-direction: column;
    gap: 1rem;
    background-color: var(--cmps-bgc);
    min-height: 60%;
    justify-content: center;
    text-align: center;
    min-width: 15rem;
}
.edit-form>div>button{
    max-width: 7rem;
    margin-left: 1rem;
    align-self: center;
}